<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\HP\OneDrive\Documents\new 2\New Pharmacy\Myshop\dist\Pharmacy.jar</jar>
  <outfile>C:\Users\HP\OneDrive\Documents\new 2\New Pharmacy\Myshop\dist\Pharmacy.exe</outfile>
  <errTitle>You need Java</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\HP\OneDrive\Documents\new 2\New Pharmacy\Myshop\src\resources\healthguard-pharmacy-limited (1)ico.ico</icon>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>pharmacy</fileDescription>
    <copyright>Nil</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.0.0</txtProductVersion>
    <productName>pharmacy</productName>
    <companyName>Healthguard Pharmacy Limited</companyName>
    <internalName>pharmacy</internalName>
    <originalFilename>pharmacy.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>